.wrapper-box {
  width: 600px;
  height: 200px;
  border: 1px solid rgb(191, 47, 47);
  margin: 200px 300px;
  position: relative;
  overflow: hidden;
}

.wrapper-content {
  position: absolute;
  top: 0px;
  transition: all 0.3;
}

.row {
  // height: 20px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid red;
}
